<phpunit bootstrap="test/autoload.php">
    <testsuites>
        <testsuite name="example">
            <directory>test/src</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="LoggingListener" file="test/LoggingListener.php">
            <arguments>
                <string>phpunit-result.xml</string>
                <boolean>false</boolean>
            </arguments>
        </listener>
    </listeners>
</phpunit>
