<phpunit bootstrap="src/autoload.php">
    <testsuites>
        <testsuite name="calculator">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="LoggingListener" file="LoggingListener.php">
            <arguments>
                <string>phpunit-result.xml</string>
                <boolean>false</boolean>
            </arguments>
        </listener>
    </listeners>
</phpunit>
